---
  const navLinks = [
  { text: 'Inicio', href: '/' },
  { text: 'Explora', href: '/explora' },
  { text: 'Sobre nosotros', href: '/about' },
  { text: 'Contacto', href: '/contact' },
];

//Cambiar lógica
const isLoggedIn = false; 
const userName = "Sergio"; 
---
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img src="./assets/img/logo.png" alt="Logo Travel Roulette" width="40" height="32">
              <span>Travel Roulette</span>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        {navLinks.map((link) => (
          link.href == '/' 
            ? <li><a href={link.href} class="nav-link px-2 link-secondary">{link.text}</a></li>
            : <li><a href={link.href} class="nav-link px-2">{link.text}</a></li>
        ))}
      </ul>

      <div class="col-md-4 text-end">
        {isLoggedIn ? (
          <div class="d-flex align-items-center">
            <i class="bi bi-person-fill me-2"></i>
            <p class="me-2">Hola, {userName}</p>
          </div>
        ) : (
          <div>
            <a href="/login" class="btn btn-outline-primary me-2">Inicia Sesión</a>
            <a href="/register" class="btn btn-primary">Registrate</a>
          </div>
        )}
      </div>
    </header>
  </div>